@import "bootstrap-sprockets";
@import "bootstrap";

head{
  background: #819FF7 !important;
}

body {
  padding-top: 90px;
  padding-left: 20px;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

#navigator {
  background-color: #d9e6f2;
  border-color: #e7e7e7;
  height: 80px;
  .link-header{
    color:#2E9AFE;
    padding-top:0px;
  }
}

#logo {
  float: left;
  color: #777;
  font-size: 20px;
  padding-top: 10px;
  margin-left: -80px;
  text-decoration: none;
}
