<header class="navbar navbar-fixed-top navbar-inverse" id="navigator">
  <div class="container">
    <%= link_to t("layouts.app"), root_path, id: "logo" %>
    <%= link_to t("users.user"), users_path %>
  </div>
</header>
